<ion-header>
  <ion-toolbar class="ion-no-padding toolbar">
    <ion-buttons class="header-back-btn" slot="start">
      <ion-button routerLink="/devocionario">
        <ion-icon color="light" name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="header-title">Coronilla a la Divina Misericordia</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-area-container" id="text-area-container">
    <div class="text-area scroll-content" id="text-area" scrollY=true>
      <h5 class="subtitle">La Señal de la Cruz:</h5>
      <p class="text">
        Por la señal de la Santa Cruz, de nuestros enemigos, líbranos Señor Dios nuestro. En el nombre del Padre,
        del Hijo y del Espíritu Santo.
      </p>
      <span class="amen">Amén</span>
      <br>
      <h5 class="subtitle">Oración inicial:</h5>
      <p class="text">
        Expiraste, Jesús, pero la fuente de vida brotó para las almas y el mar de misericordia se abrió para el
        mundo entero. Oh fuente de vida, insondable Misericordia Divina, abarca al mundo entero y derrámate sobre
        nosotros.
        Oh Sangre y Agua que brotaste del Corazón de Jesús, como una Fuente de Misericordia para nosotros, en Ti
        confío.
      </p>
      <br>
      <h5 class="subtitle">Padre Nuestro:</h5>
      <p class="text">
        Padre Nuestro, que estás en el cielo,
        santificado sea tu nombre;
        venga a nosotros tu reino;
        hágase tu voluntad, en la tierra como en el cielo.
      </p>
      <p class="text">
        Danos hoy nuestro pan de cada día;
        perdona nuestras ofensas,
        como también nosotros perdonamos a los que nos ofenden;
        no nos dejes caer en la tentación,
        y líbranos del mal.
      </p>
      <span class="amen">Amén</span>
      <br>
      <h5 class="subtitle">Ave María:</h5>
      <p class="text">
        Dios te salve María, llena eres de gracia, el Señor es contigo, bendita eres entre todas las mujeres y
        bendito es el fruto de tu vientre, Jesús. <br> <br>Santa María, Madre de Dios, ruega por nosotros
        pecadores, ahora y en la hora de nuestra muerte.
      </p>
      <span class="amen">Amén</span>
      <br>
      <h5 class="subtitle">Credo:</h5>
      <p class="text">
        Creo en Dios, Padre Todopoderoso, Creador del cielo y de la tierra. Creo en Jesucristo, Su único Hijo,
        nuestro Señor, que fue concebido por obra y gracia del Espíritu Santo, nació de Santa María Virgen,
        padeció bajo el poder de Poncio Pilato, fue crucificado, muerto y sepultado, descendió a los infiernos, al
        tercer día resucitó de entre los muertos, subió a los cielos y está sentado a la derecha de Dios Padre
        Todopoderoso. Desde allí ha de venir a juzgar a vivos y muertos.
        Creo en el Espíritu Santo, la santa Iglesia Católica, la comunión de los santos, el perdón de los pecados,
        la resurrección de la carne y la vida eterna.
      </p>
      <span class="amen">Amén</span>
      <br>
      <h5 class="subtitle subtitle-decenas">Forma de rezarlo:</h5>
      <h5 class="subtitle subtitle-decena">1) Primera decena</h5>
      <p class="text">Padre Eterno, Te ofrezco el Cuerpo y la Sangre, el Alma y la Divinidad de Tu Amadísimo Hijo,
        nuestro
        Señor Jesucristo, como propiciación de nuestros pecados y los del mundo entero.</p><sub
        class="text text-decena">(Una vez)</sub>
      <br>
      <br>
      <p class="text">Por Su dolorosa Pasión,</p> <sub class="text text-decena">ten misericordia de nosotros y del mundo
        entero. (10 veces)<br></sub><br>
      <br>
      <h5 class="subtitle subtitle-decena">2) Segunda decena</h5>
      <p class="text">Padre Eterno, Te ofrezco el Cuerpo y la Sangre, el Alma y la Divinidad de Tu Amadísimo Hijo,
        nuestro
        Señor Jesucristo, como propiciación de nuestros pecados y los del mundo entero.</p><sub
        class="text text-decena">(Una vez)</sub>
      <br>
      <br>
      <p class="text">Por Su dolorosa Pasión,</p> <sub class="text text-decena">ten misericordia de nosotros y del mundo
        entero. (10 veces)<br></sub><br>
      <br>
      <h5 class="subtitle subtitle-decena">3) Tercera decena</h5>
      <p class="text">Padre Eterno, Te ofrezco el Cuerpo y la Sangre, el Alma y la Divinidad de Tu Amadísimo Hijo,
        nuestro
        Señor Jesucristo, como propiciación de nuestros pecados y los del mundo entero.</p><sub
        class="text text-decena">(Una vez)</sub>
      <br>
      <br>
      <p class="text">Por Su dolorosa Pasión,</p> <sub class="text text-decena">ten misericordia de nosotros y del mundo
        entero. (10 veces)<br></sub><br>
      <br>
      <h5 class="subtitle subtitle-decena">4) Cuarta decena</h5>
      <p class="text">Padre Eterno, Te ofrezco el Cuerpo y la Sangre, el Alma y la Divinidad de Tu Amadísimo Hijo,
        nuestro
        Señor Jesucristo, como propiciación de nuestros pecados y los del mundo entero.</p><sub
        class="text text-decena">(Una vez)</sub>
      <br>
      <br>
      <p class="text">Por Su dolorosa Pasión,</p> <sub class="text text-decena">ten misericordia de nosotros y del mundo
        entero. (10 veces)<br></sub><br>F
      <br>
      <h5 class="subtitle subtitle-decena">5) Quinta decena </h5>
      <p class="text">Padre Eterno, Te ofrezco el Cuerpo y la Sangre, el Alma y la Divinidad de Tu Amadísimo Hijo,
        nuestro
        Señor Jesucristo, como propiciación de nuestros pecados y los del mundo entero.</p><sub
        class="text text-decena">(Una vez)</sub>
      <br>
      <br>
      <p class="text">Por Su dolorosa Pasión,</p> <sub class="text text-decena">ten misericordia de nosotros y del mundo
        entero. (10 veces)</sub>
      <br>
      <h5 class="subtitle">Doxología final:</h5>
      <p class="text">
        Santo Dios, Santo Fuerte, Santo Inmortal, ten piedad de nosotros y del mundo entero.</p> <sub
        class="text text-decena">(3 veces)</sub>
      <br>
      <h5 class="subtitle">Oración final:</h5>
      <p class="text">
        Oh Dios Eterno, en quien la misericordia es infinita y el tesoro de compasión inagotable, vuelve a
        nosotros Tu mirada bondadosa y aumenta Tu misericordia en nosotros, para que en momentos difíciles no nos
        desesperemos ni nos desalentamos, sino que, con gran confianza, nos sometamos a Tu santa voluntad, que es
        el Amor y la Misericordia Misma.
      </p>
      <span class="amen">Amén<br></span>
    </div>
  </div>
</ion-content>