* {
    font-family: "VisbyCF-Light";
}

ion-header {
    background: #f4fcfd;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
    height: 115px;
    vertical-align: middle;
    span {
        font-size: 27px;
        font-family: "VisbyCF-Bold";
        --background: #f4fcfd;
        color: #0f7386;
        margin-left: 4vw;
        height: 115px;
    }
}

.final-header {
    background: radial-gradient(75.38% 75.38% at 50.15% 81.35%, #d3f6ff 22.58%, #c9edf6 74.01%);
    height: 446px;
    ion-card {
        margin: 0;
        height: 423px;

        background: radial-gradient(75.38% 75.38% at 50.15% 81.35%, #d3f6ff 22.58%, #c9edf6 74.01%);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 22px 22px;
        ion-grid {
            ion-row {
                ion-col {
                    h1 {
                        margin-top: 0px;                    
                        font-family: "VisbyCF-Bold";
                        font-size: 33.6px;
                        text-align: center;
                        color: #187385;
                    }
                    p {
                        font-family: "VisbyCF-Bold";
                        font-size: 16px;
                        text-align: center;
                        color: #187385;
                    }
                }
            }
        }
    }
}

ion-content {
    --background: #ffffff;
    .not_finished {
        overflow-y: scroll;
        height: 680px;
        ion-grid {
            ion-row {
                ion-col {
                    ion-card {
                        height: 272px;

                        background: radial-gradient(75.38% 75.38% at 50.15% 81.35%, #d3f6ff 22.58%, #c9edf6 74.01%);
                        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.12);
                        border-radius: 22px;
                        p {
                            font-size: 22px;
                            font-family: "VisbyCF-Bold";
                            color: #0f7386;
                        }
                    }
                    ion-button {
                        text-transform: none;
                    }
                }
            }
        }
        .not_romeria {
            ion-list-header {
                ion-title {
                    font-family: "VisbyCF-Bold";
                    font-size: 20px;
                }
            }
            ion-card {
                margin-left: 20px;
                margin-right: 20px;
                height: 62px;

                background: rgba(244, 252, 253, 0.9);
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
                border-radius: 12px;
                ion-grid {
                    ion-row {
                        ion-col {
                            img {
                                height: 5.1vh;
                            }
                            p {
                                margin-top: 10px;
                                height: 5.1vh;
                                font-family: "VisbyCF-Bold";
                                font-size: 16px;
                                text-align: center;
                                color: #5aa5b3;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
            .mi_romeria {
                margin-left: 20px;
                margin-right: 20px;
                height: 62px;

                background: rgba(244, 252, 253, 0.9);
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
                border-radius: 12px;
                ion-grid {
                    ion-row {
                        ion-col {
                            img {
                                margin-top: 16px;
                                width: 9px;
                                height: 12px;
                                vertical-align: middle;
                            }
                            p {
                                margin-top: 10px;
                                height: 5.1vh;
                                font-family: "VisbyCF-Bold";
                                font-size: 16px;
                                color: #5aa5b3;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
        .romeria {
            ion-list-header {
                ion-title {
                    font-family: "VisbyCF-Bold";
                    font-size: 20px;
                }
            }
            .continuar_romeria {
                margin-left: 20px;
                margin-right: 20px;
                height: 62px;

                background: #f6d198;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
                border-radius: 12px;
                ion-grid {
                    ion-row {
                        ion-col {
                            img {
                                height: 5.1vh;
                            }
                            p {
                                margin-top: 10px;
                                height: 5.1vh;
                                font-family: "VisbyCF-Bold";
                                font-size: 16px;
                                text-align: center;
                                color: #ffffff;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            .mi_romeria {
                margin-left: 20px;
                margin-right: 20px;
                height: 62px;

                background: rgba(244, 252, 253, 0.9);
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
                border-radius: 12px;
                ion-grid {
                    ion-row {
                        ion-col {
                            img {
                                margin-top: 16px;
                                width: 9px;
                                height: 12px;
                                vertical-align: middle;
                            }
                            p {
                                margin-top: 10px;
                                height: 5.1vh;
                                font-family: "VisbyCF-Bold";
                                font-size: 16px;
                                color: #5aa5b3;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }

    .finished {
        overflow-y: scroll;
        height: 380px;
        ion-grid {
            ion-row {
                ion-col {
                    p {
                        margin-left: 15px;
                        margin-right: 15px;
                        font-family: "VisbyCF-DemiBold";
                        font-size: 14px;
                        color: #187385;
                    }
                    ion-card {
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        height: 70px;

                        background: rgba(244, 252, 253, 0.9);
                        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
                        border-radius: 12px;
                        ion-grid {
                            ion-row {
                                ion-col {
                                    .image {
                                        width: 60.11px;
                                        height: 57.16px;
                                    }
                                    ion-text {
                                        h2 {
                                            margin: 0px;
                                            font-family: "VisbyCF-Light";
                                            font-size: 16px;
                                            color: #5aa5b3;
                                        }
                                        p{
                                            margin: 0px;
                                            font-family: "VisbyCF-Light";
                                            font-size: 16px;
                                            color: #5aa5b3;
                                        }
                                    }
                                    .img {
                                        margin-top: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .player {
        display: none;
        transition: 0.5s;
        width: 100%;
        height: 100%;
        z-index: 20;
        top: 0;
        left: 0;
        position: fixed;

        &-toolbar {
            background-color: #0f7386 !important;
            --background: url("../../assets/imágenes/blur-bg-cancion.svg") no-repeat left top;
            --min-height: 20vh;
            background-size: 100vw 20vh !important;
        }

        &-back-btn {
            position: absolute;
            top: 3.5vh;
            left: 2.5vw;
        }

        &-title {
            margin: 0;
            max-width: 75%;
            color: white;
            font-family: "VisbyCF-Bold";
            font-size: 27px;
            position: absolute;
            top: 9vh;
            left: 50%;
            font-weight: 800;
            transform: translate(-50%, -50%);
        }

        &-container {
            margin-top: -5vh;
            position: fixed;
            background-color: white !important;
            border-top-left-radius: 22px !important;
            border-top-right-radius: 22px !important;
            z-index: 20;
            width: 100%;
            height: 85vh;
        }

        &-image {
            display: block;
            margin: 10vh auto;
            height: 24vh;
        }

        &-song-title {
            font-family: "VisbyCF-Bold";
            color: #1390a1;
            font-size: 24px;
            margin: 6vh 0 0 0;
            font-weight: 800;
        }

        &-song-author {
            font-family: "VisbyCF-Light";
            color: #f8a957;
            font-size: 20px;
            margin: 0 auto 4vh 0;
        }

        &-range {
            --bar-background: rgba(19, 144, 161, 0.35) !important;
            --bar-height: 3px;
            --knob-size: 11px;
            --knob-background: #0f7386;
            width: 90vw;
            margin: 0 5vw 0 5vw;
            display: block;
            --height: 25px;
        }

        &-curr-time {
            font-size: 12px;
            max-width: fit-content;
            position: fixed;
            left: 5vw;
        }

        &-total-time {
            font-size: 12px;
            max-width: fit-content;
            position: fixed;
            right: 5vw;
        }

        .buttons-container {
            width: fit-content;
            height: 62px;
            margin: 3vh auto !important;
        }

        .play-prev-icon {
            font-size: 33px;
        }

        .play-pause-icon {
            font-size: 62px;

            &-container {
                height: 62px;
            }
        }

        .play-next-icon {
            font-size: 33px;
        }

        .opts-btns-container {
            position: absolute;
            bottom: 6vh;
            width: 100%;
            height: fit-content;

            .opts-btns-btn {
                height: 40px;
                width: 40px;
            }

            .opts-btns-icon {
                font-size: 35px;
            }

            .btn-favourite {
                position: absolute;
                left: 4.5vh;
            }

            .btn-share {
                position: absolute;
                right: 4.5vh;
            }
        }
    }

    .dots-modal {
        margin: 0;
        display: none;
        padding: 25px;
        transition: 0.5s;
        z-index: 20;
        width: fit-content;
        position: fixed;
        bottom: 2vh;
        border-radius: 12px;
        background: white !important;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;

        &-title {
            margin: 0 auto;
            width: 100%;
            color: #1390a1;
            font-family: "VisbyCF-Bold";
            font-size: 20px;
            line-height: 28px;
        }

        &-subtitle {
            margin: 0 auto;
            width: 100%;
            color: #1390a1;
            font-family: "VisbyCF-Light";
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 25px;
        }

        &-grid {
            &-row {
                width: fit-content;
            }

            &-icon {
                font-size: 15px;

                &-container {
                    margin-right: 30px;
                    margin-bottom: 20px;
                }
            }

            &-span {
                font-size: 14px;
                line-height: 19px;
                color: #1390a1;
                font-family: "VisbyCF-Light";
            }
        }

        &-cancel-btn {
            margin-top: 1vh;
            font-family: "VisbyCF-Bold";
            font-size: 14px;
            line-height: 19px;
            color: #1390a1;
        }
    }

    #footer {
        text-align: center;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    ion-footer {
        background: transparent;
        --background: transparent;
        background-image: none;
        text-align: center;
        width: 100%;
        bottom: 0%;
        position: fixed;
        ion-tab-bar {
            --background: transparent;
            border-color: transparent;
            height: 85px;
            left: 0px;
            top: 727px;
            ion-tab-button {
                #eventos {
                    width: 27px;
                    height: 32px;
                }
                #devocionario {
                    width: 27px;
                    height: 32px;
                }
                #romeria {
                    width: 29.24px;
                    height: 32px;
                }
                #perfil {
                    width: 27px;
                    height: 30px;
                }
                ion-label {
                    font-family: "VisbyCF-Light";
                    font-size: 10.7033px;
                }
                #select {
                    font-family: "VisbyCF-DemiBold";
                    font-size: 10.7033px;
                }
            }
        }
    }
}
