<ion-header *ngIf="!finished" class="ion-no-border">
  <br>
  <br>
  <span>Basílica</span>
</ion-header>

<ion-header *ngIf="finished" class="final-header ion-no-border" id="headRo">
  <ion-button fill="clear" (click)="deleteRomeria()">
    <ion-icon slot="icon-only" color="azul" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-card
    href="https://kuula.co/share/collection/7lpZk?fs=1&vr=1&autorotate=0.08&autopalt=1&thumbs=1&chromeless=0&logo=1&logosize=64"
    class="ion-no-padding">
    <ion-grid class="ion-text-center ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <h1>¡Felicidades!</h1>
        </ion-col>
        <ion-col size="12">
          <p>Ahora que finalizaste tu romería,<br>presioná la imagen de la Basílica<br>y visitá a la Negrita.</p>
        </ion-col>
        <ion-col size="12">
          <ion-card-content class="ion-no-padding">
            <img
              href="https://kuula.co/share/collection/7lpZk?fs=1&vr=1&autorotate=0.08&autopalt=1&thumbs=1&chromeless=0&logo=1&logosize=64"
              src="assets/imágenes/BasílicaAbierta.svg">
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-header>

<ion-content>
  <div class="not_finished" *ngIf="!finished">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size="12">
          <ion-card
            href="https://kuula.co/share/collection/7lpZk?fs=1&vr=1&autorotate=0.08&autopalt=1&thumbs=1&chromeless=0&logo=1&logosize=64">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <p>¡Ahora podés visitar la Basílica fácilmente!</p>
                </ion-col>
                <ion-col size="12">
                  <ion-card-content class="ion-no-padding">
                    <img
                      href="https://kuula.co/share/collection/7lpZk?fs=1&vr=1&autorotate=0.08&autopalt=1&thumbs=1&chromeless=0&logo=1&logosize=64"
                      src="assets/imágenes/Basílica.svg">
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="not_romeria" *ngIf="!romeria">
      <ion-list-header>
        <ion-title color="azul">Romería</ion-title>
      </ion-list-header>
      <div *ngIf="!contentLoaded">
        <ion-card>
          <ion-grid class="ion-text-center">
            <ion-row>
              <ion-col size="1">
                <ion-card-content class="ion-no-padding">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-card-content>
              </ion-col>
              <ion-col size="11">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card>
          <ion-grid class="ion-text-center">
            <ion-row>
              <ion-col size="1">
                <ion-card-content class="ion-no-padding">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-card-content>
              </ion-col>
              <ion-col size="11">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
      <div *ngIf="contentLoaded">
        <ion-card (click)="newRomeria()">
          <ion-grid class="ion-text-center">
            <ion-row>
              <ion-col size="1">
                <ion-card-content class="ion-no-padding">
                  <img src="assets/imágenes/plus.svg">
                </ion-card-content>
              </ion-col>
              <ion-col size="11">
                <p>Nueva Romería</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card class="mi_romeria" (click)="miRomeria()">
          <ion-grid class="ion-text-center">
            <ion-row>
              <ion-col size="11">
                <p>Mi Romería</p>
              </ion-col>
              <ion-col size="1">
                <ion-card-content class="ion-no-padding">
                  <img src="assets/imágenes/next_romeria.svg">
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

    <div class="romeria" *ngIf="romeria">
      <ion-list-header>
        <ion-title color="azul">Romería</ion-title>
      </ion-list-header>
      <ion-card class="continuar_romeria" (click)="continuarRomeria()">
        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col size="1">
              <ion-card-content class="ion-no-padding">
                <img src="assets/imágenes/play_romeria.svg">
              </ion-card-content>
            </ion-col>
            <ion-col size="11">
              <p>Continuar mi Romería</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card class="mi_romeria" (click)="miRomeria()">
        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col size="11">
              <p>Mi Romería</p>
            </ion-col>
            <ion-col size="1">
              <ion-card-content class="ion-no-padding">
                <img src="assets/imágenes/next_romeria.svg">
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

  <div id="fin" class="finished" *ngIf="finished">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>Te recomendamos reproducir alguna canción para tener un momento más ameno.</p>
        </ion-col>
        <ion-col size="12" *ngFor="let cancion of canciones">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img class="image" src="assets/imágenes/piano.svg">
                </ion-col>
                <ion-col size="8">
                  <ion-text>
                    <h2>
                      <b>{{cancion.title}}</b>
                      <p>{{cancion.subtitle}}</p>
                    </h2>   
                  </ion-text>
                </ion-col>
                <ion-col size="1" (click)="showSongsOptionsModal(cancion.title, cancion.subtitle, cancion.audio, cancion.cancionId);$event.stopPropagation();">
                  <img class="img" src="assets/imágenes/3puntos.svg">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="dots-modal" id="dots-modal-ro">
    <h2 class="dots-modal-title ion-text-center">{{currTitle}}</h2>
    <h3 class="dots-modal-subtitle ion-text-center">{{currSubtitle}}</h3>
    <ion-grid class="dots-modal-grid" class="ion-no-padding">
      <ion-row class="ion-no-padding dots-modal-grid-row">
        <ion-col size="0.5" class="ion-no-padding dots-modal-grid-icon-container">
          <ion-icon class="dots-modal-grid-icon" src="assets/imágenes/view.svg"></ion-icon>
        </ion-col>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding" (click)="see()">
          <span class="dots-modal-grid-span">Ver</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding dots-modal-grid-row">
        <ion-col size="0.5" class="ion-no-padding dots-modal-grid-icon-container" (click)="addOrRemoveFavourite(currOptionId)">
          <ion-icon *ngIf="!favourites.includes(currOptionId)" class="dots-modal-grid-icon"
            src="assets/imágenes/star.svg"></ion-icon>
          <ion-icon *ngIf="favourites.includes(currOptionId)" class="dots-modal-grid-icon"
            src="assets/imágenes/starfull.svg"></ion-icon>
        </ion-col>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding" (click)="addOrRemoveFavourite(currOptionId)">
          <span *ngIf="!favourites.includes(currOptionId)" class="dots-modal-grid-span">Añadir a favoritos</span>
          <span *ngIf="favourites.includes(currOptionId)" class="dots-modal-grid-span">Eliminar de favoritos</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding dots-modal-grid-row">
        <ion-col size="0.5" class="ion-no-padding dots-modal-grid-icon-container" (click)="share(currTitle)">
          <ion-icon class="dots-modal-grid-icon" src="assets/imágenes/share.svg"></ion-icon>
        </ion-col>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding" (click)="share(currTitle)">
          <span class="dots-modal-grid-span">Compartir</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button fill="clear" expand="full" class="dots-modal-cancel-btn" (click)="hideOptionsModal()">
      Cancelar
    </ion-button>
  </div>

  <!--Full song player view-->
  <div class="player" id="playerRo">
    <ion-toolbar class="ion-text-center ion-no-padding player-toolbar">
      <ion-buttons class="player-back-btn" slot="start">
        <ion-button (click)="hidePlayer()">
          <ion-icon color="light" name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1 class="player-title">Canciones</h1>
    </ion-toolbar>
    <div class="player-container">
      <img class="player-image" src="assets/imágenes/song-player-img.svg" />
      <h1 class="ion-text-center player-song-title">{{currTitle}}</h1>
      <h1 class="ion-text-center player-song-author">{{currSubtitle}}</h1>
      <ion-range class="ion-no-padding player-range" color="azul" #range (touchmove)="touchMove()"
        (touchend)="touchEnd()" (touchstart)="touchStart()" max="{{maxRangeValue}}" [(ngModel)]="currRangeTime">
      </ion-range>
      <ion-label class="player-curr-time" slot="start">
        <ion-text color="azul">{{currSecsText}}</ion-text>
      </ion-label>
      <ion-label class="player-total-time" slot="end">
        <ion-text color="azul">{{durationText}}</ion-text>
      </ion-label>

      <ion-buttons class="buttons-container">
        <!-- Play Previous Button -->
        <ion-button fill="clear" (click)="playPrev()">
          <ion-icon class="play-prev-icon" color="anaranjado" name="play-back"></ion-icon>
        </ion-button>

        <!-- Play Button -->
        <ion-button class="play-pause-icon-container" fill="clear" *ngIf="!isPlaying" (click)="play()">
          <ion-icon class="play-pause-icon" color="anaranjado" name="play-circle-sharp"></ion-icon>
        </ion-button>

        <!-- Pause Button -->
        <ion-button class="play-pause-icon-container" fill="clear" *ngIf="isPlaying" (click)="pause()">
          <ion-icon class="play-pause-icon" color="anaranjado" name="pause-circle-sharp"></ion-icon>
        </ion-button>

        <!-- Play Next Button -->
        <ion-button fill="clear" (click)="playNext()">
          <ion-icon class="play-next-icon" color="anaranjado" name="play-forward"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons class="opts-btns-container" slot="primary">
        <ion-button class="opts-btns-btn btn-favourite" slot="start" (click)="addOrRemoveFavourite(currOptionId)">
          <ion-icon class="opts-btns-icon" *ngIf="!favourites.includes(currOptionId)" src="assets/imágenes/star.svg">
          </ion-icon>
          <ion-icon class="opts-btns-icon" *ngIf="favourites.includes(currOptionId)" src="assets/imágenes/starfull.svg">
          </ion-icon>
        </ion-button>
        <ion-button class="opts-btns-btn btn-share" slot="end" (click)="share(currTitle)">
          <ion-icon class="opts-btns-icon" src="assets/imágenes/share.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  
  <ion-footer class="ion-no-border" id="footRo">
    <ion-img id="footer" src="assets/imágenes/tab.svg" [routerLink]="['/donacion']"></ion-img>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/eventos']">
        <ion-img id="eventos" src="assets/imágenes/eventos.svg"></ion-img>
        <ion-label color="azul">Eventos</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/devocionario']">
        <ion-img id="devocionario" src="assets/imágenes/devocionario.svg"></ion-img>
        <ion-label color="azul">Devocionario</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/donacion']">
        <ion-label color="celeste"></ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/romeria']">
        <ion-img id="romeria" src="assets/imágenes/romeria_select.svg"></ion-img>
        <ion-label id="select" color="azul">Basílica</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']">
        <ion-img id="perfil" src="assets/imágenes/tapPerfil.svg"></ion-img>
        <ion-label color="azul">Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
</ion-content>