/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
    font-family: 'VisbyCF-DemiBold';
    src: url('./assets/fonts/VisbyCF-DemiBold.ttf')
    } 

@font-face{
    font-family: 'VisbyCF-Light';
    src: url('./assets/fonts/VisbyCF-Light.ttf')
    }

@font-face{
    font-family: 'VisbyCF-Bold';
    src: url('./assets/fonts/VisbyCF-Bold.ttf')    
    }

@font-face{
    font-family: 'VisbyCF-Medium';
    src: url('./assets/fonts/VisbyCF-Medium.ttf')    
    }

@font-face{
    font-family: 'VisbyCF-MediumOblique';
    src: url('./assets/fonts/VisbyCF-MediumOblique.ttf')
}

    * {
        font-family: "VisbyCF-Light";
    }

    .popover-content {
        align-content: center;
        background: #f4fcfd;
        color:  #0F7386;
        --min-width: 90%;
        font-family: "VisbyCF-Light";
        ion-list{
            background: #f4fcfd;
            color:  #0F7386;
            --background: #f4fcfd;
            --color:  #0F7386;
        }
        ion-label {
            color: #0F7386;
            font-size: 16px;
            font-family: "VisbyCF-Light";
        }
        ion-radio {
            --color-checked: #F8A957;
        }
    }

    .logout-alert {
        --background: #e5e5e5;
      }

    .spinner{
        --background: #E0F3F8;
        --spinner-color: #0F7386;
        color: #0F7386;
    }